{# This is templates/base.html template #}
<html lang="en">
  <head>
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cc.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
  {% include 'task_bar.html' %}
  <div class="page-content">
    {# including the navigation bar from navigation.html #}
    {% include 'navigation.html' %}
    <div class="main">
    {% block content %}

    {% endblock %}
    </div>
  </div>
  </body>
</html>