{% extends "main_page.html" %}

{% block container %}
<div class="content">
    <form method="post" action="/cats/number">
            <div>
                <input type="text" placeholder="Number of pictures:" name="number" value="{{number}}">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    <div class="flex">
    {% for x in range(number) %}
        <div class="card">
            <div class="card-content">
                <img class="cats"/>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}

