<div class="task-bar">
    <div class="left">
        <div>
            <img src="{{url_for('static', filename='images/Burger.png')}}" align="middle" width="30px" height="30px"/>
        </div>
        <div class="logo">Logo</div>
        <div>
            <h4>Flearing</h4>
        </div>
    </div>
    <div class="mid">
        <h4 class="centered">9:30</h4>
    </div>
    <div class="right">
        <form method="post" action="/search/user/">
            <div class="">
                <input type="text" name="search_term" id="search_term">
                <button type="submit" class="button">
                    <img src="{{url_for('static', filename='images/search.png')}}" align="middle" width="25px"/>
                </button>
            </div>
        </form>
    </div>
</div>