.main-container {
    margin: 20px;
    padding: 5px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: #A9AFFE;
    width: 200px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 250px;
    max-width: 200px;
    object-fit: cover;
    object-position: 100% 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.flex {
    width: 100%;
    margin: 5px;
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.error {
    color: red;
    display: flex;
    flex-direction: row;
}

.error > input {
       border:1px solid red;
}

.error > input {
       border:1px solid red;
}

.error > p {
        font-size: 10px;
}



.form_flex {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    space-wrap: wrap;
}

.form-field {
    width:50%;
    display: flex;
}

label {
    width: 200px;
}

.rB {
    margin-top: 30px;
    padding: 10px;
    border-top: solid #c6c6c6c6;
    padding: 14px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
    background-color: BFBED9;
    }